.appMain {
    display: grid;
    grid-template: 60px 1fr / 1fr;

    width: 100vw;
    height: 100vh;
}

.navigationBarArea {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
    background-color: rgb(17,17,17);
}

.mainContent {
    grid-area: 2 / 1 / 3 / 2;
    height: 100%;
    width: 100%;
}

.mainContent2 {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
}