.navigationBarMain * {
    color: rgb(255,255,255);
}
.navigationBarMain {
    width: 100%;
    height: 100%;
    background-color: rgb(17,17,17);
    padding: 0px 305px;

    display: flex;
    flex-flow: row nowrap;
}

.sectionOne {
    height: 100%;
    margin-right: 100px;
    display: flex;
    flex-flow: row nowrap;

}

.sectionOne > button {
    background-color: inherit;
    height: 100%;
    padding: 0px 20px;
    border: none;
    color: rgb(170,170,170);
    font-weight: bold;
    font-size: 14px;


}

.sectionOne > button:first-child {
    background-color: rgb(255,255,255);
    color: rgb(17,17,17);
}

.sectionOne > button:hover {
    text-decoration: underline;
}

.sectionTwo {
    height: 100%;
    border-left: 2px solid rgb(68,68,68);
    border-right: 2px solid rgb(68,68,68);
    display: flex;
    flex-flow: row nowrap;
    width: 367px;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;
}

.sectionTwo > input {
    height: 100%;
    border: none;
    background-color: inherit;
    width: 317px;
    outline: none;
    padding: 11.6px;
    padding-left: 0px;
    font-size: 18px;    
}

.sectionTwo > input::placeholder {
    color: rgb(170,170,170);
    font-size: 17px;
}

.sectionThree {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.sectionThree * {
    cursor: pointer;
}


.sectionThree > button, a > button {
    width: 99px;
    border: none;
    background-color: inherit;
    border-left: .5px solid rgb(68,68,68);
    border-right: .5px solid rgb(68,68,68);
    color: rgb(170,170,170);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
    padding: none;
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 11px;
    
}


.sectionThree > button > img, a > button {
    width: 20px;
    height: 20px;
    text-decoration: none;
}

.sectionThree > a > button:last-child {
    width: 129px;
    text-decoration: none;

}

.sectionThree > a > button:last-child > img {
    width: 129px;
    scale: .85;
    filter: invert(72%) sepia(1%) saturate(0%) hue-rotate(159deg) brightness(93%) contrast(95%);
}

